$white: #ffffff
$black: #000
$family: 'Helvetica Neue', 'Noto Sans TC', sans-serif

:root
    --darkGreen: #1a4040
    --gray100: #d5d5d5
    --gray200: #7c7c7c
    --gray300: #b4bebe
    --gray400: #4d5852
    --baseSize: 13px
    --font100: 14px
    --font200: 16px
    --font300: 18px

    
body,html
    padding: 0
    margin: 0
    font: var(--baseSize) 1.5

body
    font-size: var(--baseSize)
    font-family: $family
    color: $black

a
    color: var(--gray400)
    font-size: var(--font100)
    text-decoration: none

    &:hover
        color: inherit


.top-information
    background: var(--darkGreen)
    text-align: center
    color: $white
    font-size: var(--font100)
    padding: 16px 15px

    p
        margin: 0
    

    a
        color: var(--gray100)
        text-decoration: none


.header--top-bar
    padding-top: 20px
    padding-bottom: 15px

.header--tools
    display: flex
    justify-content: space-between
    width: 100%

    .logo
        max-width: 125px
        width: 20%
        margin: 0 auto

.header--tools-left
    width: 40%
    display: flex
    

.header--tools-right
    width: 40%
    display: flex
    text-align: right
    justify-content: flex-end

    svg
        display: inline-block
        vertical-align: middle
        max-width: 20px


    a
        display: inline-block
        position: relative
        vertical-align: middle
        line-height: 22px

span.link-line:before
    display: inline-block
    content: "|"
    color: var(--gray400)
    line-height: 22px
    font-size: var(--font100)
    margin-left: 8px
    margin-right: 8px


.header--main-menu
    background-color: var(--gray100)
.header--sub-menu
    background-color: var(--gray200)


.nav-group
    list-style: none
    text-align: center
    margin: 0
    padding-left: 0

    .nav-item
        position: relative
        display: inline-block
        text-align: center
        text-transform: uppercase

        > a
            color: $black
            font-size: var(--font100)
            line-height: 28px
            display: flex
            align-items: center
            justify-content: space-between
            padding: 5px 24px
            

    .nav-item:hover a+.sub-dropdown,
    .nav-item:active a+.sub-dropdown
        opacity: 1
        pointer-events: all
    

    &.light
        .nav-item > a
            color: $white


.sub-dropdown
    position: absolute
    top: 100%
    left: 50%
    margin-left: -109px
    z-index: 1000
    width: 218px
    padding-top: 15px
    padding-bottom: 18px
    pointer-events: none
    background-color: #d4d4d4
    opacity: 0
    transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1) opacity
    list-style: none
    padding-left: 0

    a
        display: block
        color: $black
        font-size: var(--font100)
        line-height: 1.5
        padding: 4px 42px 7px 25px
        transition: opacity,color 0.15s cubic-bezier(0.4, 0, 0.2, 1)
        text-transform: none
        text-align: left

        &:hover
            color: var(--gray200)


     
.hero img
    width: 100%
    height: auto

.main-centent
    display: flex
    width: 100%
    justify-content: space-between

    &::after
        content: ""
        display: table
        clear: both

    .main-left
        width: 23%
        float: left
        color: var(--gray200)
        font-size: var(--baseSize)

    .main-right
        width: 77%
        float: left
        padding-left: 15px
        box-sizing: border-box

.main-left,.main-right
    padding-top: 50px
    padding-bottom: 50px


.product-list
    display: flex
    flex-wrap: wrap
    width: 100%
    padding: 30px 0 0


.prodouct-list--photo
    position: relative
    margin-bottom: 20px

    figure
        display: block
        padding-top: 100%
        position: relative
        height: 0

    img
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: calc( 100% - 60px)
        max-height: 80%
        display: block
        object-fit: contain
        
    > a
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 20
        display: block
        color: $black

        &::before
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 1px
            background-color: var(--gray100)

        &::after
            content: ""
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            height: 3px
            background-color: var(--gray100)


.profuct-list--interactions
    position: absolute
    top: 10px
    left: 0
    width: 30px
    z-index: 20

    a
        display: inline-block
        width: 30px
        height: 30px
        vertical-align: middle
        line-height: 30px
        text-align: center

    svg
        fill: $black
        width: 70%
        height: auto
        
.product-list--content
    text-align: center

    a
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 20
        display: block
        color: $black

    .title
        margin: 0
        margin-top: 5px
        margin-bottom: 9px
        font-size: var(--font300)
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        overflow: hidden
        line-height: 25px
        height: 50px

    .price
        color: $black
        font-size: var(--font100)
        line-height: 1.5

        span
            padding: 0 4px

            &.original
                text-decoration: line-through

.product-list--inner
    display: flex
    flex-direction: column
    overflow: hidden
    padding: 0 5%

.product-list--item.col-lg-3
    width: calc(33.33333% - 30px)


.product-list--item
    &:not(:hover)
        .profuct-list--interactions
            opacity: 1
            visibility: hidden
            transition: opacity .5s ease

        .prodouct-list--photo 
            a:before,a:after
                opacity: 0
    &:hover
        .profuct-list--interactions
            opacity: 1
        .prodouct-list--photo 
            a:before,a:after
                opacity: 1
.header-lang
    font-size: var(--font100)
    line-height: 25px
    vertical-align: top
    padding: 0 10px
    margin-right: 6px
    box-shadow: none

.header-currency
    font-size: var(--baseSize)
    line-height: 25px
    vertical-align: middle
    margin: 0


.custom-collapse
    display: block
    width: 100%
    color: var(--gray400)
    font-size: var(--font100)
    padding-left: 10px
    padding-right: 10px
    box-sizing: border-box


    &.dropdown-toggle::after
        float: right
        margin-top: 5px

.custom-collapse--group
    padding: 20px 0
    border-top: 1px solid var(--gray100)
    border-bottom: 1px solid var(--gray100)

    .card-body
        padding: 0
        border: none
        padding-top: 20px

    .link-group
        padding-left: 0
        list-style: none

        a
            color: $black
            font-size: var(--baseSize)
            padding: 5px 20px
            display: block

#wrapper
    position: relative
    z-index: 1


.desktop-hide
    display: none !important

@media (min-width: 576px)
    .container, .container-sm
        max-width: 1430px
        width: 92%
@media (max-width: 938px)
    .product-list--item.col-md-6
        width: 50%

@media (max-width: 719px)

    .header--tools
        img
            max-width: 100%
            min-width: 100px
            margin-left: -8px
    .header-btn
        display: inline-block !important
        min-width: 20px

        svg
            width: 100%
            height: auto
    .header--top-bar
        position: sticky
        border-bottom: 1px solid var(--gray100)
    .desktop-hide
        display: block !important

    .mobile-hide
        display: none !important

    span.link-line:before
        content: ""
        margin-left: 5px
        margin-right: 5px

    .header--tools-right
        display: flex
        width: 100%
        justify-content: unset

    .logo
        position: absolute
        left: 50%
        transform: translateX(-50%)
        margin-top: -5px
    .button-search
        margin-right: auto

    .mobile-menu
        display: inline-block
        vertical-align: middle
        margin-right: 10px

    .mobile-dropdown
        position: fixed
        top: 0
        left: 0
        z-index: 50000
        width: 100vw
        max-width: 300px
        height: 100vh
        overflow-y: scroll
        background-color: rgba(212, 212, 212, 0)
        content: ""
        opacity: 0
        transform: translateX(-100%)
        transition: opacity,transform 0.6s cubic-bezier(0.4, 0, 0.2, 1)

    .main-centent
        display: block
        padding-top: 50px

        .main-left,.main-right
            width: 100%
            float: none
            padding: 0

    .prodouct-list--photo img
        width: calc( 100% - 10px)

    .overlay
        position: fixed
        display: none
        width: 100%
        height: 100%
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: rgba($black,.8)
        z-index: 1
        pointer-events: none


    body.toggled
        .mobile-dropdown
            opacity: 1
            transform: translateX(0)

        #wrapper
            z-index: -1
    
    #sidenav
        background-color: var(--gray100)

        .nav-group .nav-item
            display: block
            a
                padding: 5px
                padding-right: 30px
                position: relative

                .icon
                    position: absolute
                    top: 0
                    right: 0

                .plus
                    display: block
                .minus
                    display: none

                &[aria-expanded="true"]
                    .icon
                        .plus
                            display: none
                        .minus
                            display: block

        .nav-group.light
            a
                color: $black

        .collapse
            background: #c7c7c7
            margin-left: -15px
            margin-right: -15px
        .card.card-body
            border-radius: 0
            padding: 0 15px
            background: transparent

    #sidenav-close
        display: inline-block
        max-width: 30px
        margin-left: 15px
        margin-top: 20px
        margin-bottom: 15px

        a
            display: block
            font-size: 30px
            line-height: 30px

    .header--main-menu,.header--sub-menu
        background: none


    .sub-dropdown
        position: relative
        top: unset
        left: unset
        margin-left: unset
        z-index: 1000
        width: 100%
        padding-top: 15px
        padding-bottom: 18px
        background: transparent
        opacity: 1
        