:root {
  --darkGreen: #1a4040;
  --gray100: #d5d5d5;
  --gray200: #7c7c7c;
  --gray300: #b4bebe;
  --gray400: #4d5852;
  --baseSize: 13px;
  --font100: 14px;
  --font200: 16px;
  --font300: 18px;
}

body, html {
  padding: 0;
  margin: 0;
  font: var(--baseSize) 1.5;
}

body {
  font-size: var(--baseSize);
  font-family: "Helvetica Neue", "Noto Sans TC", sans-serif;
  color: #000;
}

a {
  color: var(--gray400);
  font-size: var(--font100);
  text-decoration: none;
}
a:hover {
  color: inherit;
}

.top-information {
  background: var(--darkGreen);
  text-align: center;
  color: #ffffff;
  font-size: var(--font100);
  padding: 16px 15px;
}
.top-information p {
  margin: 0;
}
.top-information a {
  color: var(--gray100);
  text-decoration: none;
}

.header--top-bar {
  padding-top: 20px;
  padding-bottom: 15px;
}

.header--tools {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header--tools .logo {
  max-width: 125px;
  width: 20%;
  margin: 0 auto;
}

.header--tools-left {
  width: 40%;
  display: flex;
}

.header--tools-right {
  width: 40%;
  display: flex;
  text-align: right;
  justify-content: flex-end;
}
.header--tools-right svg {
  display: inline-block;
  vertical-align: middle;
  max-width: 20px;
}
.header--tools-right a {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 22px;
}

span.link-line:before {
  display: inline-block;
  content: "|";
  color: var(--gray400);
  line-height: 22px;
  font-size: var(--font100);
  margin-left: 8px;
  margin-right: 8px;
}

.header--main-menu {
  background-color: var(--gray100);
}

.header--sub-menu {
  background-color: var(--gray200);
}

.nav-group {
  list-style: none;
  text-align: center;
  margin: 0;
  padding-left: 0;
}
.nav-group .nav-item {
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}
.nav-group .nav-item > a {
  color: #000;
  font-size: var(--font100);
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 24px;
}
.nav-group .nav-item:hover a + .sub-dropdown,
.nav-group .nav-item:active a + .sub-dropdown {
  opacity: 1;
  pointer-events: all;
}
.nav-group.light .nav-item > a {
  color: #ffffff;
}

.sub-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -109px;
  z-index: 1000;
  width: 218px;
  padding-top: 15px;
  padding-bottom: 18px;
  pointer-events: none;
  background-color: #d4d4d4;
  opacity: 0;
  transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1) opacity;
  list-style: none;
  padding-left: 0;
}
.sub-dropdown a {
  display: block;
  color: #000;
  font-size: var(--font100);
  line-height: 1.5;
  padding: 4px 42px 7px 25px;
  transition: opacity, color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: none;
  text-align: left;
}
.sub-dropdown a:hover {
  color: var(--gray200);
}

.hero img {
  width: 100%;
  height: auto;
}

.main-centent {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.main-centent::after {
  content: "";
  display: table;
  clear: both;
}
.main-centent .main-left {
  width: 23%;
  float: left;
  color: var(--gray200);
  font-size: var(--baseSize);
}
.main-centent .main-right {
  width: 77%;
  float: left;
  padding-left: 15px;
  box-sizing: border-box;
}

.main-left, .main-right {
  padding-top: 50px;
  padding-bottom: 50px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px 0 0;
}

.prodouct-list--photo {
  position: relative;
  margin-bottom: 20px;
}
.prodouct-list--photo figure {
  display: block;
  padding-top: 100%;
  position: relative;
  height: 0;
}
.prodouct-list--photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc( 100% - 60px);
  max-height: 80%;
  display: block;
  object-fit: contain;
}
.prodouct-list--photo > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: block;
  color: #000;
}
.prodouct-list--photo > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--gray100);
}
.prodouct-list--photo > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--gray100);
}

.profuct-list--interactions {
  position: absolute;
  top: 10px;
  left: 0;
  width: 30px;
  z-index: 20;
}
.profuct-list--interactions a {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
  text-align: center;
}
.profuct-list--interactions svg {
  fill: #000;
  width: 70%;
  height: auto;
}

.product-list--content {
  text-align: center;
}
.product-list--content a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: block;
  color: #000;
}
.product-list--content .title {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 9px;
  font-size: var(--font300);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 25px;
  height: 50px;
}
.product-list--content .price {
  color: #000;
  font-size: var(--font100);
  line-height: 1.5;
}
.product-list--content .price span {
  padding: 0 4px;
}
.product-list--content .price span.original {
  text-decoration: line-through;
}

.product-list--inner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 5%;
}

.product-list--item.col-lg-3 {
  width: calc(33.33333% - 30px);
}

.product-list--item:not(:hover) .profuct-list--interactions {
  opacity: 1;
  visibility: hidden;
  transition: opacity 0.5s ease;
}
.product-list--item:not(:hover) .prodouct-list--photo a:before, .product-list--item:not(:hover) .prodouct-list--photo a:after {
  opacity: 0;
}
.product-list--item:hover .profuct-list--interactions {
  opacity: 1;
}
.product-list--item:hover .prodouct-list--photo a:before, .product-list--item:hover .prodouct-list--photo a:after {
  opacity: 1;
}

.header-lang {
  font-size: var(--font100);
  line-height: 25px;
  vertical-align: top;
  padding: 0 10px;
  margin-right: 6px;
  box-shadow: none;
}

.header-currency {
  font-size: var(--baseSize);
  line-height: 25px;
  vertical-align: middle;
  margin: 0;
}

.custom-collapse {
  display: block;
  width: 100%;
  color: var(--gray400);
  font-size: var(--font100);
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.custom-collapse.dropdown-toggle::after {
  float: right;
  margin-top: 5px;
}

.custom-collapse--group {
  padding: 20px 0;
  border-top: 1px solid var(--gray100);
  border-bottom: 1px solid var(--gray100);
}
.custom-collapse--group .card-body {
  padding: 0;
  border: none;
  padding-top: 20px;
}
.custom-collapse--group .link-group {
  padding-left: 0;
  list-style: none;
}
.custom-collapse--group .link-group a {
  color: #000;
  font-size: var(--baseSize);
  padding: 5px 20px;
  display: block;
}

#wrapper {
  position: relative;
  z-index: 1;
}

.desktop-hide {
  display: none !important;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 1430px;
    width: 92%;
  }
}
@media (max-width: 938px) {
  .product-list--item.col-md-6 {
    width: 50%;
  }
}
@media (max-width: 719px) {
  .header--tools img {
    max-width: 100%;
    min-width: 100px;
    margin-left: -8px;
  }

  .header-btn {
    display: inline-block !important;
    min-width: 20px;
  }
  .header-btn svg {
    width: 100%;
    height: auto;
  }

  .header--top-bar {
    position: -webkit-sticky;
    position: sticky;
    border-bottom: 1px solid var(--gray100);
  }

  .desktop-hide {
    display: block !important;
  }

  .mobile-hide {
    display: none !important;
  }

  span.link-line:before {
    content: "";
    margin-left: 5px;
    margin-right: 5px;
  }

  .header--tools-right {
    display: flex;
    width: 100%;
    justify-content: unset;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -5px;
  }

  .button-search {
    margin-right: auto;
  }

  .mobile-menu {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  .mobile-dropdown {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50000;
    width: 100vw;
    max-width: 300px;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgba(212, 212, 212, 0);
    content: "";
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity, transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .main-centent {
    display: block;
    padding-top: 50px;
  }
  .main-centent .main-left, .main-centent .main-right {
    width: 100%;
    float: none;
    padding: 0;
  }

  .prodouct-list--photo img {
    width: calc( 100% - 10px);
  }

  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    pointer-events: none;
  }

  body.toggled .mobile-dropdown {
    opacity: 1;
    transform: translateX(0);
  }
  body.toggled #wrapper {
    z-index: -1;
  }

  #sidenav {
    background-color: var(--gray100);
  }
  #sidenav .nav-group .nav-item {
    display: block;
  }
  #sidenav .nav-group .nav-item a {
    padding: 5px;
    padding-right: 30px;
    position: relative;
  }
  #sidenav .nav-group .nav-item a .icon {
    position: absolute;
    top: 0;
    right: 0;
  }
  #sidenav .nav-group .nav-item a .plus {
    display: block;
  }
  #sidenav .nav-group .nav-item a .minus {
    display: none;
  }
  #sidenav .nav-group .nav-item a[aria-expanded=true] .icon .plus {
    display: none;
  }
  #sidenav .nav-group .nav-item a[aria-expanded=true] .icon .minus {
    display: block;
  }
  #sidenav .nav-group.light a {
    color: #000;
  }
  #sidenav .collapse {
    background: #c7c7c7;
    margin-left: -15px;
    margin-right: -15px;
  }
  #sidenav .card.card-body {
    border-radius: 0;
    padding: 0 15px;
    background: transparent;
  }

  #sidenav-close {
    display: inline-block;
    max-width: 30px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  #sidenav-close a {
    display: block;
    font-size: 30px;
    line-height: 30px;
  }

  .header--main-menu, .header--sub-menu {
    background: none;
  }

  .sub-dropdown {
    position: relative;
    top: unset;
    left: unset;
    margin-left: unset;
    z-index: 1000;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 18px;
    background: transparent;
    opacity: 1;
  }
}